.d-flex button {
  margin: 1.5em 0.6em;
  padding: 0.5em 2.4em;
}

.d-flex table {
  margin: 1em 10em;
}

#tbody {
  color: white;
  background-color: darkslategrey;
}

table .btnedit {
  color: red;
  cursor: pointer;
}
